From this:

https://medium.com/cs-note/tensorflow-ch4-support-vector-machines-c9ad18878c76

In [20]:
import numpy as np

import pandas as pd
import tensorflow as tf

from sklearn.model_selection import train_test_split

def load_data(filename='all_data.csv'):
    df = pd.read_csv(filename)
    return df

def split_data(X, Y, test_size=0.3, random_state=42):
    return train_test_split(X, Y, test_size=test_size, random_state=random_state)

Load Data

In [11]:
data = load_data()
data.columns

Index(['light', 'humidity', 'humidity_temp', 'pressure', 'pressure_temp',
       'rain'],
      dtype='object')

Split Data

In [12]:
X = data[['light', 'humidity', 'humidity_temp', 'pressure', 'pressure_temp']]
X

      light   humidity  humidity_temp  pressure  pressure_temp
0      5.32  75.128174      34.040527   1010.21          34.72
1      5.31  75.128174      34.040527   1010.21          34.72
2      5.31  75.225830      34.060669   1010.18          34.70
3      5.32  75.225830      34.060669   1010.18          34.70
4      5.23  75.225830      34.060669   1010.22          34.71
...     ...        ...            ...       ...            ...
9807  59.30  63.842773      34.805908   1010.27          35.12
9808  59.46  63.842773      34.805908   1010.29          35.13
9809  59.46  63.842773      34.805908   1010.29          35.13
9810  59.46  63.842773      34.805908   1010.29          35.13
9811  59.46  63.842773      34.785767   1010.29          35.14

[9812 rows x 5 columns]

In [13]:
Y = data['rain']
Y

0       1
1       1
2       1
3       1
4       1
       ..
9807    0
9808    0
9809    0
9810    0
9811    0
Name: rain, Length: 9812, dtype: int64

In [15]:
X_train, X_test, Y_train, Y_test = split_data(X, Y)

print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(6868, 5) (2944, 5) (6868,) (2944,)

Create placeholder and variable

In [24]:
tf.constant(X_train)

<tf.Tensor: shape=(6868, 5), dtype=float64, numpy=
array([[ 157.8       ,   66.69311523,   34.03045654, 1010.22      ,
          34.95      ],
       [  88.48      ,   59.21020508,   33.4967041 , 1009.05      ,
          34.29      ],
       [  42.48      ,   95.86181641,   35.25909424, 1008.72      ,
          35.78      ],
       ...,
       [ 175.12      ,   77.6550293 ,   30.50567627, 1011.24      ,
          31.25      ],
       [  20.34      ,   74.11499023,   33.4463501 , 1007.28      ,
          34.45      ],
       [ 133.24      ,   62.1887207 ,   32.96295166, 1009.07      ,
          33.86      ]])>

In [40]:
batch_size = 100
X_input = tf.constant(X_train, dtype='float32')
Y_input = tf.constant(Y_train, dtype='float32')

A = tf.Variable(tf.random.normal(shape=[5,1]))
b = tf.Variable(tf.random.normal(shape=[1,1]))

In [42]:
model_output = tf.subtract(tf.matmul(X_input, A), b)

In [44]:
l2_norm = tf.reduce_sum(tf.square(A))
alpha = tf.constant([0.1])
classification_term = tf.reduce_mean(tf.maximum(0., tf.subtract(1.,tf.multiply(model_output, Y_input))))
loss = tf.add(classification_term, tf.multiply(alpha, l2_norm))

In [46]:
prediction = tf.sign(model_output)
accuracy = tf.reduce_mean(tf.cast(tf.equal(prediction, Y_input),
tf.float32))

In [ ]:
my_opt = tf.train.GradientDescentOptimizer(0.01)
train_step = my_opt.minimize(loss)
init = tf.initialize_all_variables()
sess.run(init)