In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd /content/drive/My Drive/CS3237project

/content/drive/My Drive/CS3237project

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import pickle
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline


def load_data(url, rain_label, col=['time', 'light', 'humidity', 'humidity_temp', 'pressure', 'pressure_temp']):
  df = pd.read_csv(url, names = col)
  df.drop(columns=['time'], inplace = True)
  df['rain'] = rain_label
  return df


def split_data(df, X_col=['light', 'humidity', 'humidity_temp', 'pressure', 'pressure_temp'], y_col=['rain'], test_size=0.2, random_state=42):

  y = df_full[y_col]
  X = df_full[X_col]
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)
  
  return X_train, X_test, y_train, y_test

In [8]:
rain_1_toilet_xz_csv_url = 'https://raw.githubusercontent.com/ttippinyu/cs3237-project/main/cloud/data/rain/rain_1_toilet_xz.csv?token=ALHL6UUQO34OSPFDJ23ED527VEI6E'
rain_1_tanat_csv_url = 'https://raw.githubusercontent.com/ttippinyu/cs3237-project/xizhi/cloud/data/rain/rain_1_tanat.csv?token=ALHL6UUBN42RHB52PG3M6TS7VEY3A'
rain_1_ck_csv_url = 'https://raw.githubusercontent.com/ttippinyu/cs3237-project/xizhi/cloud/data/rain/rain_1_ck.csv?token=ALHL6USJHZ2QLHD7B4XJXES7VEZD2'
no_rain_1_toilet_xz_csv_url = 'https://raw.githubusercontent.com/ttippinyu/cs3237-project/main/cloud/data/no-rain/no_rain_1_toilet_xz.csv?token=ALHL6UT4GK57JWQXJDGBBE27VEJHW'
no_rain_2_toilet_xz_csv_url = 'https://raw.githubusercontent.com/ttippinyu/cs3237-project/main/cloud/data/no-rain/no_rain_2_toilet_xz.csv?token=ALHL6US5OIKOJ555WUYKUNK7VEJKM'
no_rain_1_tanat_csv_url = 'https://raw.githubusercontent.com/ttippinyu/cs3237-project/xizhi/cloud/data/no-rain/no_rain_1_tanat.csv?token=ALHL6UVGFKOQLBSXARTOBVS7VEZ3I'
no_rain_1_ck_csv_url = 'https://raw.githubusercontent.com/ttippinyu/cs3237-project/xizhi/cloud/data/no-rain/no_rain_1_ck.csv?token=ALHL6USNPXLYYTWPNJ4D4KK7VEZZA'
no_rain_1_xz_csv_url = 'https://raw.githubusercontent.com/ttippinyu/cs3237-project/xizhi/cloud/data/no-rain/no_rain_1_xz.csv?token=ALHL6USQRDWFZAJLIAEWYF27VE2AM'

In [9]:
df_rain_1 = load_data(rain_1_toilet_xz_csv_url, rain_label=1)
df_rain_2 = load_data(rain_1_tanat_csv_url, rain_label=1)
df_rain_3 = load_data(rain_1_ck_csv_url, rain_label=1)

df_no_rain_1 = load_data(no_rain_1_toilet_xz_csv_url, rain_label=0)
df_no_rain_2 = load_data(no_rain_2_toilet_xz_csv_url, rain_label=0)
df_no_rain_3 = load_data(no_rain_1_tanat_csv_url, rain_label=0)
df_no_rain_4 = load_data(no_rain_1_ck_csv_url, rain_label=0)
df_no_rain_5 = load_data(no_rain_1_xz_csv_url, rain_label=0)

df_rain = df_rain_1.append(df_rain_2.append(df_rain_3), ignore_index=True)
df_no_rain = df_no_rain_1.append(df_no_rain_2.append(df_no_rain_3.append(df_no_rain_4.append(df_no_rain_5))), ignore_index=True)

In [10]:
df_rain

      light   humidity  humidity_temp  pressure  pressure_temp  rain
0      5.32  75.128174      34.040527   1010.21          34.72     1
1      5.31  75.128174      34.040527   1010.21          34.72     1
2      5.31  75.225830      34.060669   1010.18          34.70     1
3      5.32  75.225830      34.060669   1010.18          34.70     1
4      5.23  75.225830      34.060669   1010.22          34.71     1
...     ...        ...            ...       ...            ...   ...
4901   0.24  85.351562      36.910706   1008.66          37.88     1
4902   0.24  85.351562      36.910706   1008.66          37.88     1
4903   0.24  85.351562      36.910706   1008.66          37.88     1
4904   0.24  85.351562      36.910706   1008.66          37.88     1
4905   0.24  85.351562      36.910706   1008.72          37.93     1

[4906 rows x 6 columns]

In [11]:
df_no_rain

       light   humidity  humidity_temp  pressure  pressure_temp  rain
0     158.12  67.187500      33.889465   1010.21          34.81     0
1     158.12  67.187500      33.909607   1010.21          34.81     0
2     157.80  67.187500      33.909607   1010.21          34.82     0
3     157.80  67.089844      33.909607   1010.21          34.82     0
4     157.80  67.089844      33.909607   1010.18          34.81     0
...      ...        ...            ...       ...            ...   ...
4965   57.68  63.842773      34.876404   1010.28          35.13     0
4966   57.68  63.842773      34.876404   1010.28          35.13     0
4967   58.02  63.842773      34.876404   1010.28          35.13     0
4968   58.02  63.842773      34.886475   1010.26          35.13     0
4969   58.82  63.842773      34.886475   1010.26          35.13     0

[4970 rows x 6 columns]

In [12]:
df_full = df_rain.append(df_no_rain.iloc[:4906])
df_full

      light   humidity  humidity_temp  pressure  pressure_temp  rain
0      5.32  75.128174      34.040527   1010.21          34.72     1
1      5.31  75.128174      34.040527   1010.21          34.72     1
2      5.31  75.225830      34.060669   1010.18          34.70     1
3      5.32  75.225830      34.060669   1010.18          34.70     1
4      5.23  75.225830      34.060669   1010.22          34.71     1
...     ...        ...            ...       ...            ...   ...
4901  59.30  63.842773      34.805908   1010.27          35.12     0
4902  59.46  63.842773      34.805908   1010.29          35.13     0
4903  59.46  63.842773      34.805908   1010.29          35.13     0
4904  59.46  63.842773      34.805908   1010.29          35.13     0
4905  59.46  63.842773      34.785767   1010.29          35.14     0

[9812 rows x 6 columns]

In [13]:
X_train, X_test, y_train, y_test = split_data(df_full)

In [14]:
param_test_SVM = {'C':[0.1,10],
          'kernel': ('linear', 'poly', 'rbf', 'sigmoid'),
          'decision_function_shape': ('ovr', 'ovo')}

model = make_pipeline(StandardScaler(), 
                    GridSearchCV(SVC(),
                          param_grid=param_test_SVM,
                          cv=5,
                          refit=True),
                          verbose=0)

model.fit(X_train, y_train.values.ravel())

model_filename = 'model1.sav'
pickle.dump(model, open(model_filename, 'wb'))

In [15]:
# load the model from disk
loaded_model = pickle.load(open(model_filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

1.0

In [19]:
tanat_model = pickle.load(open('model_tanat.sav', 'rb'))
print(tanat_model)

SVC(C=0.1, kernel='linear')

In [21]:
standardScalerMean = {
        "light": 3.0710061,
        "humidity": 74.84800758,
        "humidityTemp": 31.31831006,
        "pressure": 1008.31411585,
        "pressureTemp": 31.82347561,
}
    
standardScalerStd = {
        "light": 14.96252355,
        "humidity": 8.23631047,
        "humidityTemp": 0.70464542,
        "pressure": 0.0533495,
        "pressureTemp": 0.56733501
}